:host {
  display: block;
  font-family: Arial, sans-serif;
}

p {
  height: 200px;
  overflow: hidden;
  padding: 1rem;
  width: 200px;
}

.too-small {
  font-size: 16px;
  height: 15px;
  line-height: 1;
}
