<h1>Examples</h1>

<h2>Static Content</h2>
<p class="default" snEllipsis>Ullamco esse laborum dolor eiusmod laboris aliquip aute aute aute. Ullamco velit ad laboris consequat. Deserunt ad reprehenderit cupidatat do labore esse. Occaecat nostrud mollit commodo ut ex elit fugiat et reprehenderit quis. Fugiat aliquip excepteur quis sunt sint consectetur duis elit quis ex fugiat quis eiusmod. Ad pariatur ipsum nulla sunt est non ut id et nisi culpa voluptate mollit ad. Tempor cupidatat esse ad in cillum incididunt quis. Nulla cillum qui aute labore quis ad cillum ullamco adipisicing qui est nulla amet. Nisi consectetur sint nostrud est duis dolore enim aliqua esse laboris Lorem.</p>

<h2>Content Binding</h2>
<p snEllipsis>{{ textContent }}</p>

<h2>inneHTML Binding</h2>
<p snEllipsis [innerHTML]="htmlContent"></p>

<h2>Element too small to fit text</h2>
<p class="too-small" snEllipsis>Ullamco esse laborum dolor eiusmod laboris aliquip aute aute aute.</p>
